form {
    position: absolute;
    top: 30%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#password {
    margin-left: 5px;
    margin-right: 10px;
    max-width: 150px;
    height: 18px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 18px;
}

label {
    font-size: 18px;
}

#login{
    cursor: pointer;
    font-size: 16px;
}

@media screen and (max-width: 330px) {
    form {
        display: block;
    }
    button {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width: 50%;
    }
}